.tosheader {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.toswrapper {
    width: 80%;
    margin: auto;
    background-color: rgb(236, 241, 244);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mainHeader {
    margin: 0;
    color: white;
}

.tosmain {
    padding: 20px;
}

.tos-main h2 {
    color: #333;
    margin-top: 30px;
}

.tos-main p {
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

.tos-main a {
    color: #007bff;
    text-decoration: none;
}

/* footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    margin: 0;
} */